{{template "_header.tmpl"}}

	<h2>Deployments</h2>
	<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Img</th>
  </tr>
	{{range .}}
		<tr>
			<td>{{.Name}}</td>
			<td>
				{{range .Spec.Template.Spec.Containers}}
					{{.Image}}
				{{end}}
			</td>
		</tr>
	{{end}}
</table>


{{template "_footer.tmpl"}}
